.textEditor {
    margin-top: 10px;
    height: 600px;
}


textarea#canvas {
  font-family: Consolas;
  font-size: 12pt;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
